.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 53, 87, 0.35);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  min-width: 500px;
  max-height: 500px;
  border-radius: 12px;
  z-index: 100000;
  background-color: rgb(29, 53, 87);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 1px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  display: flex;
  font-size: 1.2rem;
}
.modalContainer .body {
  padding: 0px 30px;
}

.modalContainer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}
